$default-font: "roboto-example", sans-serif
$accent: #00A237
$text: #313131
$grey: #D7D7D6
$sale: #FF2222
// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"
$grid-gutter-width: 30px
$grid-columns: 12
$grid-breakpoints: (xs: 320px, sm: 576px, md: 768px, lg: 992px, xl: 1200px)
$container-max-widths: (sm: 570px, md: 750px, lg: 960px, xl: 1170px)

$gutter: $grid-gutter-width
